<% if @recipe.errors.present? %>
  <p>Oops!
  <% @recipe.errors.each do |key, error| %>
    <%= error %>
  <% end %>
  </p>
<% end %>

<%= nested_form_for @recipe do |f| %>
  <div class="hero-unit">
    <%= f.label :name, "Namn" %>
    <%= f.text_field :name %><br />
    <%= f.label :cook_time, "Tillagningstid" %>
    <%= f.text_field :cook_time %><br />

    <%= f.label :servings, "Portioner" %>
    <%= f.select(:servings, 1..24) %><br />
  </div>

  <div class="hero-unit">
  <h2>Ingredienser:</h2>
  <ol>
    <%= f.fields_for :ingredients do |i| %>
      <li>
        <%= i.text_field :amount %>
        <%= i.select(:unit_name, options_for_select(Ingredient::Units, i.object.unit_name), :include_blank => true) %>
        <%= i.text_field :product_name %>
        <%= i.link_to_remove "Ta bort rad" %>
      </li>
    <% end %>
    <%= f.link_to_add "Lägg till rad", :ingredients %>
  </ol>
  </div>

  <div class="hero-unit">
  <h2>Instruktioner: </h2>
  <ol>
    <%= f.fields_for :instructions do |i| %>
      <li>
        <%= i.text_field :text %>
        <%= i.link_to_remove "Ta bort rad" %>
      </li>
    <% end %>
    <%= f.link_to_add "Lägg till rad", :instructions %>
  </ol>
  </div>
  <%= f.submit 'Spara recept' %>
<% end %>
