<% r = @recipe %>
<h1><%= r.name %></h1>
<h2>Tillagningstid: <%= r.cook_time %></h2>
<h2>Portioner: <%= r.servings %></h2>

<h2>Ingredienser:</h2>
<ul>
  <% humanize_ingredients(r.ingredients) do |amount_and_unit_name, product_name| %>
    <li><%= amount_and_unit_name %> <%= product_name %></li>
  <% end %>
</ul>

<h2>Gör så här:</h2>
<ol class="recipe_instructions">
  <% r.instructions.each do |i| %>
    <li><%= i.text %> </li>
  <% end %>
</ol>
<% if current_user %>
  <%= link_to "Redigera recept", edit_recipe_path(r) %>
  <%= button_to "Lägg till ingredienserna i min inköpslista", add_recipe_to_shopping_list_path(r) %>
  <%= button_to "Lägg till receptet i min receptsamling", add_recipe_to_collection_path(r) %>
<% end %>

