<% rc = @recipe_collection %>
<h1><%= rc.name %></h1>
<% if rc.collection_blocks.empty? %>
  <p>Den här receptsamlingen har inga block! <%= link_to 'Klicka här', new_collection_block_path, :method => :post %> för att skapa ett! </p>
<% else %>
  <ul>
    <% rc.collection_blocks.each do |block| %>
      <li>
        <%= block.name %>
        <ul>
          <% block.block_contents.each do |content| %>
            <li><%= link_to content.recipe.name, recipe_path(content.recipe, :preferred_servings => content.preferred_servings) %>,
              <%= form_tag(content, :method => :put) do %>
                <%= select_tag :preferred_servings, options_for_select(1..24, content.preferred_servings || content.recipe.servings), {:onchange => 'this.form.submit()', :class => "inline"} %>
              <% end %>
            portioner</li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Redigera receptsamlingen', edit_recipe_collection_path(rc) %>
<%= button_to 'Ta bort receptsamlingen', recipe_collection_path(rc), :method => :delete, :confirm => 'Är du säker?' %>